<div class="main-panel">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand">Дети</a>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

  <div class="content">

    <div class="container-fluid">

      <div class="card">
        <div class="card-header card-header-warning">
          <h4 class="card-title">Пользователи</h4>

          <p class="card-category">Всего: {{totalElements}}</p>
        </div>

        <div *ngIf="items && (items.length > 0)">

          <div class="m-4">
            <button *ngIf="!showDeleted" mat-raised-button (click)="toggleRows(true)"> Показать удаленных </button>
            <button *ngIf="showDeleted" mat-raised-button (click)="toggleRows(false)"> Скрыть удаленных </button>
          </div>
          <table mat-table [dataSource]="dataSource" matSort class="table">

            <!-- ID -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>№</th>
              <td class="col-email paddings5lr" mat-cell *matCellDef="let item" [ngClass]="{ deleted: item.childStatus === 'deleted' }">{{item.childId}}</td>
            </ng-container>

            <!-- Name -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Имя</th>
              <td class="col-ownChildCount paddings5lr" mat-cell *matCellDef="let item" [ngClass]="{ deleted: item.childStatus === 'deleted' }">
                {{ item.childName }}
              </td>
            </ng-container>

            <!-- Дата рождения -->
            <ng-container matColumnDef="dateBirth">
              <th mat-header-cell *matHeaderCellDef>Дата рождения</th>
              <td class="col-observedChildCount paddings5lr" mat-cell [ngClass]="{ deleted: item.childStatus === 'deleted' }"
                  *matCellDef="let item">{{item.dateBirth | date: 'yyy-MM-dd'}}</td>
            </ng-container>

            <!-- Email -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>E-mail</th>
              <td class="col-observedChildCount paddings5lr" mat-cell
                  *matCellDef="let item" [ngClass]="{ deleted: item.childStatus === 'deleted' }">{{item.userEmail}}</td>
            </ng-container>

            <!-- Оплаты -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Статус</th>
              <td class="col-payments paddings5lr" [class]="{'text-success': item.childStatus == 'active'}" mat-cell *matCellDef="let item" [ngClass]="{ deleted: item.childStatus === 'deleted' }">
                {{ item.childStatus === 'active' ? 'Активен' : 'Удален' }}
              </td>
            </ng-container>

            <!-- Действия -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Действия</th>
              <td class="col-actions paddings5lr" mat-cell *matCellDef="let item" [ngClass]="{ deleted: item.childStatus === 'deleted' }">
                <button mat-raised-button (click)="openChart(item)" class="m-1" style="background: #9c27b0; color: #fff;"></button>
              </td>
            </ng-container>

            <!-- какие поля отображать -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns; "></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="focusable" (click)="openChart(row)"></tr>

          </table>

          <mat-paginator
            (page)="pageChanged($event)"
            [pageIndex]="pageNumber"
            [pageSize]="pageSize"
            [length]="totalElements"
            [pageSizeOptions]="[25]"
            showFirstLastButtons>
          </mat-paginator>
        </div>

        <div class="item-not-found col-md-12 col-lg-12 col-sm-12 col-xs-12" *ngIf="items && items.length === 0">
          Пользователи не найдены
        </div>
      </div>
      <button mat-raised-button (click)="router.navigate(['users'])">Назад</button>
    </div>
  </div>

  <app-footer></app-footer>
</div>
