<h1 mat-dialog-title>
  <p mat-dialog-title>{{dialogTitle}}</p>
</h1>

<div mat-dialog-content>
  <mat-form-field class="width100">
    <mat-label>Имя</mat-label>
    <input
      required
      matInput
      [(ngModel)]="webinar.name"
      name="name"
    >
  </mat-form-field>

  <mat-form-field class="width100">
    <mat-label>Описание</mat-label>
    <textarea
      required
      matInput
      [(ngModel)]="webinar.description"
      name="desc"
    >
    </textarea>
  </mat-form-field>

  <mat-form-field class="width100">
    <mat-label>Цена</mat-label>
    <input
      required
      matInput
      [(ngModel)]="webinar.price"
      name="price"
    >
  </mat-form-field>

  <mat-form-field class="width100">
    <mat-label>Ссылка</mat-label>
    <input
      matInput
      [(ngModel)]="webinar.url"
      name="url"
    >
  </mat-form-field>
</div>

<!--  кнопки возможных действий-->
<section>
  <div>
    <button
      mat-raised-button color="primary"
      (click)="confirm()"
      [disabled]="!webinar.name || !webinar.description || !webinar.price"
      class="pull-left"
    >
      <span *ngIf="!loading">Сохранить</span>
      <mat-spinner *ngIf="loading" diameter="25" color="accent" class="m-x-a m-1"></mat-spinner>
    </button>

    <button
      mat-raised-button
      (click)="cancel()"
      class="pull-right"
    >
      Отмена
    </button>
  </div>
</section>
