<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          <a href="https://doctormama.by/" target="_blank">
            doctormama.by
          </a>
        </li>
        <!--<li>-->
        <!--<a href="" target="_blank">-->
        <!--Лицензионное соглашение-->
        <!--</a>-->
        <!--</li>-->
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy; {{date | footerDate}}
      <a href="http://eradevelopment.org/" target="_blank">ERA DEVELOPMENT</a> разработка приложений
    </div>
  </div>
</footer>
