<div class="main-panel">
  <div class="container-fluid mb-2 mt-3">
    <div class="navbar-wrapper flex-grow-1">
      <mat-card *ngIf="currentChild && currentChild.childId" style="min-height: 88px;">
        <mat-grid-list cols="4" rowHeight="50px">
          <mat-grid-tile>
            <div mat-line><b>Имя:</b> {{ currentChild.childName }}</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div mat-line><b>Пол:</b> {{ currentChild.childSex === 'female' ? 'Ж' : 'М' }}</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div mat-line><b>Дата рождения:</b> {{ currentChild.dateBirth | date: 'dd.MM.yyyy' }} ({{ childAgeWeeks }} нед., {{ childAgeMonth }} мес.)</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div mat-line><b>E-mail:</b> {{ currentChild.userEmail }}</div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </div>
  </div>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-transparent">
    <div class="container-fluid">
      <div class="navbar-wrapper flex-grow-1">
        <mat-card class="flex-grow-1 chart-filter">
          <div class="chart-filter__inner">
            <mat-button-toggle-group [ngModel]="filter.dayPart" (change)="setDayPart($event)"
                                     class="chart-filter__toggle" appearance="legacy">
              <mat-button-toggle value="DAY">Дневной сон</mat-button-toggle>
              <mat-button-toggle value="NIGHT">Ночной сон</mat-button-toggle>
              <mat-button-toggle [value]="null">Суммарный сон</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group [ngModel]="interval" class="chart-filter__toggle" appearance="legacy">
              <mat-button-toggle (click)="chooseInterval('week')" value="week">Неделя</mat-button-toggle>
              <mat-button-toggle (click)="chooseInterval('month')" value="month">Месяц</mat-button-toggle>
              <mat-button-toggle (click)="chooseInterval('year')" value="year">Год</mat-button-toggle>
            </mat-button-toggle-group>
            <div class="chart-filter__select">
              <div class="row">
                <div class="col-8">
                  <mat-form-field style="margin-left: 15px;">
                    <mat-label>Идентификатор ребенка</mat-label>
                    <input
                      #inputName
                      [(ngModel)]="childId"
                      matInput maxlength="50"
                      (keyup.enter)="searchChildByID()"
                      [disabled]="disableChanging"
                    />
                  </mat-form-field>
                </div>

                <div class="col-4">
                  <button mat-icon-button
                          class="pull-left"
                          (click)="searchChildByID()"
                          [disabled]="loading || !childId || disableChanging"
                  >
                    <mat-icon *ngIf="!loading">search</mat-icon>
                    <mat-spinner *ngIf="loading" diameter="25" class="m-1"></mat-spinner>
                  </button>
                </div>
              </div>
            </div>
<!--            <button mat-button mat-raised-button [disabled]="!currentChild || !currentChild.childName || loading"-->
<!--                    (click)="search()" style="min-width: 107px">-->
<!--              <span *ngIf="!loading">-->
<!--                Применить-->
<!--              </span>-->
<!--              <mat-spinner *ngIf="loading" diameter="25" class="m-1"></mat-spinner>-->
<!--            </button>-->
          </div>
        </mat-card>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

  <div class="content mt-0">
    <div *ngIf="currentChild && currentChild.childId" class="chart-wrapper fadeOut" #wrapper>
      <canvas
        baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins"
        height="600"
      >
      </canvas>
    </div>
  </div>
</div>
