<div class="main-panel">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper flex-grow-1">
        <mat-card class="flex-grow-1 chart-filter">
          <div class="chart-filter__inner">
            <mat-button-toggle-group [ngModel]="filter.dayPart" (change)="setDayPart($event)" class="chart-filter__toggle" appearance="legacy">
              <mat-button-toggle value="DAY">Дневной сон</mat-button-toggle>
              <mat-button-toggle value="NIGHT">Ночной сон</mat-button-toggle>
              <mat-button-toggle [value]="null">Общее</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group [ngModel]="interval" class="chart-filter__toggle" appearance="legacy">
              <mat-button-toggle (click)="chooseInterval('week')" value="week">Неделя</mat-button-toggle>
              <mat-button-toggle (click)="chooseInterval('month')" value="month">Месяц</mat-button-toggle>
              <mat-button-toggle (click)="chooseInterval('year')" value="year">Год</mat-button-toggle>
            </mat-button-toggle-group>
            <div class="chart-filter__select">
              <div class="row">
                <div class="col-8">
                  <mat-form-field style="margin-left: 15px;">
                    <mat-label>Идентификатор ребенка</mat-label>
                    <input
                      #inputName
                      [(ngModel)]="childId"
                      matInput maxlength="50"
                      (keyup.enter)="searchChildByID()"
                      [disabled]="disableChanging"
                    />
                  </mat-form-field>
                </div>

                <div class="col-4">
                  <button mat-icon-button
                          class="pull-left"
                          (click)="searchChildByID()"
                          [disabled]="loading || !childId || disableChanging"
                  >
                    <mat-icon *ngIf="!loading">search</mat-icon>
                    <mat-spinner *ngIf="loading" diameter="25" class="m-1"></mat-spinner>
                  </button>
                </div>
              </div>
            </div>
            <button mat-button mat-raised-button [disabled]="!currentChild || !currentChild.childName || loading" (click)="search()" style="min-width: 107px">
              <span *ngIf="!loading">
                Применить
              </span>
              <mat-spinner *ngIf="loading" diameter="25" class="m-1"></mat-spinner>
            </button>
          </div>
        </mat-card>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="content">
    <mat-card *ngIf="currentChild && currentChild.childId" class="mt-5 fadeInDown" style="width: 500px">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <div mat-line><b>Идентификатор:</b> {{ currentChild.childId }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <div mat-line><b>Имя:</b> {{ currentChild.childName }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <div mat-line><b>Пол:</b> {{ currentChild.childSex === 'female' ? 'Ж' : 'М' }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <div mat-line><b>Дата рождения:</b> {{ currentChild.dateBirth }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <div mat-line><b>E-mail:</b> {{ currentChild.userEmail }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <div mat-line><b>Статус:</b> {{ currentChild.childStatus === 'active' ? 'Активен' : 'Удален' }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <div mat-line><b>Грудное вскармливание:</b>  <mat-checkbox disabled [ngModel]="currentChild.breastFeeding"></mat-checkbox></div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <div mat-line><b>Искусственное вскармливание:</b>  <mat-checkbox disabled [ngModel]="currentChild.bottleFeeding"></mat-checkbox></div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <div mat-line><b>Норма дневного сна:</b> {{ currentChild.daySleeping }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <div mat-line><b>Суммарная норма сна:</b> {{ currentChild.summaryDaySleeping }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <div mat-line><b>Норма ночного сна:</b> {{ currentChild.nightSleeping }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <div mat-line><b>Время бодрствования:</b> {{ currentChild.wakePeriod }}</div>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>

  <div class="content">
    <div *ngIf="currentChild && currentChild.childId" class="chart-wrapper fadeOut" #wrapper>
      <canvas
        baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins"
        height="600"
      >
      </canvas>
    </div>
  </div>
</div>
