<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>

  <img class="center-img" *ngIf="imageSrc" width="200px;" [src]="imageSrc" alt="Загружаемая аватарка" />

  <form  [formGroup]="form" style="margin-top: 20px;">

    <input hidden="true" type="file" accept="image/jpg, image/jpeg, image/png" id="file-input1"
           (change)="uploadFile($event)">
    <label for="file-input1">
      <a mat-stroked-button color="primary"><i class="material-icons">file_upload</i>
         Выбрать аватарку
      </a>
    </label>

  </form>

</mat-dialog-content>


<!--  кнопки возможных действий-->
<section>
  <div>

    <button
      mat-raised-button color="primary"
      (click)="confirm()"
      [disabled]="images.length === 0"
      class="pull-left"
    >
      Отправить на сервер
    </button>


    <button mat-raised-button
            (click)="cancel()"
            class="pull-right"
    >Отмена</button>

  </div>
</section>




