<div class="main-panel">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand">Аватарки детей</a>
      </div>
      <div>
        <button class="right-button btn btn-primary"
                mat-raised-button color="primary"
                (click)="addItem()"
        >
          <mat-icon class="button-add">add</mat-icon>
          Аватарку
        </button>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="content">

    <div class="container-fluid">
      <div class="card">
        <div class="card-header card-header-warning">
          <h4 class="card-title">Аватарки детей
          </h4>

          <p class="card-category">Всего: {{totalElements}}</p>
        </div>

        <div *ngIf="items && (items.length > 0)">

          <table [dataSource]="dataSource" class="table-responsive width100" mat-table matSort>

            <!-- Картинка -->
            <ng-container matColumnDef="avatar">
              <th mat-header-cell *matHeaderCellDef>Аватарка</th>
              <td class="col-avatar paddings5lr" mat-cell *matCellDef="let item">
                <img class="center-cropped" [src]="getImage(item.path)" alt="childAvatar" height="100px">
              </td>
            </ng-container>

            <!--            какие поля отображать-->
            <tr mat-header-row *matHeaderRowDef="displayedColumns; "></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>

          <mat-paginator (page)="pageChanged($event)" [pageIndex]="pageNumber"
                         [pageSize]="pageSize" [length]="totalElements"
                         [pageSizeOptions]="[25]" showFirstLastButtons></mat-paginator>

        </div>

        <div class="item-not-found col-md-12 col-lg-12 col-sm-12 col-xs-12" *ngIf="items && items.length === 0">
          Аватарки не найдены
        </div>

      </div>
    </div>
  </div>

</div>
