.col-id {
  width: 10% !important;
}

.col-email {
  width: 50% !important;
}

.col-ownChildCount {
  width: 10% !important;
}

.col-observedChildCount {
  width: 10% !important;
}


.right-button {
  align-content: flex-end;
  margin-right: 15px;
}


.paddings5lr {
  padding-left: 5px;
  padding-right: 5px;
}

.button-add {
  margin-top: -10px; margin-left: -10px;
}

.item-not-found {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
